<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
  <mapper namespace="kr.co.work.mapper.WorkMapper">
  
   <select id="work_content" resultType="kr.co.work.vo.WorkVO">
    select * from work where id=#{param1}
   </select>
   
    <select id="getApply" resultType="Integer">
    select count(*) from apply where userid=#{param1} and workid=#{param2}
    </select>
    
    
    <insert id="apply_add">
    insert into apply(userid,workid,state,writeday)
     values(#{param1},#{param2},1,now())
    </insert> 
   
  </mapper>